[run]
include = tearleads/*
omit = *migrations*, *tests*, tearleads/cors_config.py, manage.py, tearleads/wsgi.py, tearleads/settings/production.py, tearleads/settings/staging.py, tearleads/*/management/commands/*, tearleads/authentication/utility.py, tearleads/*/tests/*

[report]
fail_under = 98
show_missing = True
skip_covered = True
