API_FQDN=api.example.com
COMPOSE_PROJECT_NAME=tearleads
LETSENCRYPT_EMAIL=admin@example.com
POSTGRES_DB=tearleads
POSTGRES_DOCKER_PORT=1337
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=secretpassword
POSTGRES_PORT=5432
POSTGRES_USER=tearleads
WEB_FQDN=web.example.com
AWS_REGION=us-east-1
ECR_FQDN=<AWS_ACCOUNT_ID>.dkr.ecr.<AWS_REGION>.amazonaws.com
ECR_REPOSITORY=tearleads
GITHUB_CLIENT_ID=<GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<GITHUB_CLIENT_SECRET>
