# Terraform
# https://github.com/github/gitignore/blob/master/Terraform.gitignore
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.backend
*.tfvars

# BlackBox
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/dns/main.tfvars
/container-registry/main.tfvars
/container-registry/terraform.backend
/staging/main.tfvars
/staging/terraform.backend
/dns/terraform.backend
/ansible/inventory.yaml
