build/
dist/
node_modules/
.DS_Store
.env
.ts-out

/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg/.env

.vercel
chrome
chromedriver

# Vite PWA
dev-dist

# Turso Databases
*.db

_results_
