API_FQDN=api.example.com
AWS_REGION=us-east-1
COMPOSE_PROJECT_NAME=tearleads
COOKIE_DOMAIN=localhost
DJANGO_SECRET_KEY=development
DJANGO_SETTINGS_MODULE=tearleads.settings.development
ECR_FQDN=<AWS_ACCOUNT_ID>.dkr.ecr.<AWS_REGION>.amazonaws.com
ECR_REPOSITORY=tearleads
GITHUB_CLIENT_ID=<GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<GITHUB_CLIENT_SECRET>
GITHUB_REDIRECT_URI=http://localhost:8085/oauth/github
ELECTRON_GITHUB_CLIENT_ID=<ELECTRON_GITHUB_CLIENT_ID>
ELECTRON_GITHUB_CLIENT_SECRET=<ELECTRON_GITHUB_CLIENT_SECRET>
ELECTRON_GITHUB_REDIRECT_URI=tearleads-dev://oauth/github
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>
GOOGLE_REDIRECT_URI=http://localhost:8080/oauth/google
LETSENCRYPT_EMAIL=admin@example.com
NEW_RELIC_ENABLED=False
NEW_RELIC_ENVIRONMENT=development
NEW_RELIC_LICENSE_KEY=<NEW_RELIC_LICENSE_KEY>
POSTGRES_DB=tearleads
POSTGRES_DOCKER_PORT=1337
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=secretpassword
POSTGRES_PORT=5432
POSTGRES_USER=tearleads
WEB_FQDN=web.example.com
