// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Deep link scheme for OAuth redirects - Development
DEEP_LINK_SCHEME = com.tearleads.app.dev

// Google OAuth configuration - Development
GOOGLE_OAUTH_URL_SCHEME = com.googleusercontent.apps.424258972420-f97gpnl6e0ri3a87gq583kmf1k606na6
REVERSED_CLIENT_ID = com.googleusercontent.apps.424258972420-f97gpnl6e0ri3a87gq583kmf1k606na6
CLIENT_ID = 424258972420-f97gpnl6e0ri3a87gq583kmf1k606na6.apps.googleusercontent.com
