.create-entry-button {
  font-size: .75em;
  color: black;
  background-color: white;
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
  margin-right: .5em;
  border: 1px solid black;
}
