@import "vars.less";

.taglist-entry {
  font-size: .75em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.taglist-header {
  font-size: .85em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}

.flex-taglist {
  flex: 0 0 9em;
}