@import "vars.less";

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}

body {
  background-color: white;
  color: black;
  margin:0;
}

.inline-block {
  display: inline-block;
  border: @borderpx solid red;
}

.menu-item-spacing {
  margin-left: .3em;
}

.menu-item {
  border: @borderpx solid red;
}

// Navbar
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: @navbar-height;
}

.navbar-top {
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: gray;
}

.navbar-bottom {
  bottom: 0;
}

// Top and bottom container
.flex-main-container {
  display: flex;
  // https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page/7607206
  padding-left: calc(100vw - 100%);
}

.flex-main-container-margin {
  margin-top: @navbar-height;
}

.flex {
  display: flex;
}

.flex-align-left {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 0;
}

.flex-align-right {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 0;
}

.flex-side-column {
  flex: 1 0 0;
}

.flex-center-column {
  flex: 0 0 @center-column-width;
}
